{% assign info = site.data.info %}

<div class="text-center">
  {% img '{{ info.photo }}' alt:'{{ info.name }}' magick:resize:"200x" style:'max-width\:100%' %}
  
  <h5 class="mt-1 mb-0">{{ info.name }}</h5>
  <p class="mb-2">{{ info.title }}</p>

  <p class="mb-2">
    {{ info.affiliation }}<br/>
    {{ info.address }}
  </p>

  <p class="mb-0">
    <i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;&nbsp;<a href="mailto:{{ info.email }}"</a>{{ info.email }}</a><br/>
    <i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;{{ info.phone }}
  </p>
</div>
